<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Usuarios de placeHolder en Tabla </title>
    <!-- CSS de Bootstrap-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Librería jQuery requerida por los plugins de JavaScript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- JavaScript de Bootstrap -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- JavaScript con TODO Angular1 -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <!-- // <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script> -->
    <script>
        // MODULO
        var tablaUsuariosModule = angular.module('tablaUsuariosApp', []);

        // CONTROLLER datosTablaCtrl para el MODULO
        tablaUsuariosModule.controller('datosTablaCtrl', function ($scope,$http,$log) {
            // LLAMADA AJAX para obtener los datos
            // dejamos el array con todos los usuarios en la variable del $scope:
            // $scope.usuarios
            $http.get('http://jsonplaceholder.typicode.com/posts')
            .success(function(listaUsuarios){
                  // llegan los datos como un array de JSON
                  // como valor en la clave data
                  $scope.usuarios = listaUsuarios;
                  // $log es un servicio que sustituye al console
                  $log.log("USUARIOS: " + JSON.stringify($scope.usuarios))
                })
                // funcion si ERROR
            .error(function(error) {
                  $log.log("Error !!!!!");
                })
        })
    </script>
    <style>
      li{
        border-top: 1px solid darkOrange; 
        border-bottom:: 1px solid darkOrange;
        text-align: center;
      }
    </style>

  </head>
  <body data-ng-app="tablaUsuariosApp" data-ng-controller="datosTablaCtrl">
    <div class="container">
      <br>
      <div class="row">
        <h2>Ejemplo: controller y servicio http(AJAX)</h2>
      </div>
      <br>
      <!-- para las claves solo una vez en la primera posicion -->
      <ul class="list-inline">
        <li class="list-item col-md-3" ng-repeat="(k, v) in usuarios[0]">
          {{ k }}
        </li>
      </ul>
      <!-- para los valores -->
      <ul class="list-inline" ng-repeat="usuario in usuarios">
       
          <li class="list-item col-md-3" ng-repeat="attr in usuario">
            {{ attr }}
          </li>
       
      </ul>
    </div>
  </body>
</html>