<!DOCTYPE html>
<html lang="en" data-ng-app="tablaUsuariosModule" ng-controller="datosTablaCtrl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Usuarios de placeHolder en Tabla </title>
    <!-- CSS de Bootstrap-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Librería jQuery requerida por los plugins de JavaScript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- JavaScript de Bootstrap -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- JavaScript con TODO Angular1 -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <!-- // <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script> -->
    <!-- libreria angular para modena, fecha, ... en formato español -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.7/angular-locale_eu-es.min.js"></script>
    <script>
        // MODULO
        var tablaUsuariosModule = angular.module('tablaUsuariosModule', []);

        // CONTROLLER datosTablaCtrl para el MODULO
        // Como dependencias inyectadas usamos:
        //  --> $http ==> servicio AJAX
        //  --> $log  ==> servicio que sustituye al console
        tablaUsuariosModule.controller('datosTablaCtrl', function ($scope,$http,$log) {
            // LLAMADA AJAX para obtener los datos
            // dejamos el array con todos los usuarios en la variable del $scope:
            // $scope.usuarios
            $http.get('http://jsonplaceholder.typicode.com/posts')
              .success(function(listaUsuarios){
                  // llegan los datos como un array de JSON
                  // como valor en la clave data
                  $scope.usuarios = listaUsuarios;
                  $log.log("USUARIOS: " + JSON.stringify(listaUsuarios))
                })
              .error(function(error) {
                  console.log("errorr");
                })
        })
        // Filtro para usuarios que contienen en id o body la cadena introducida por el usuario
        tablaUsuariosModule.filter('filtroOrCampos',function($log){
          return function(usuarios,scope){
            // 1.usuarios:  array de los usuarios que inicializamos con AJAX en el controlador
            // es lo que recibe ng-repeat del ul
            // 2.scope: es el scope del controlador, para tener acceso al modelo y usar el filtro introducido por el usuario en el input
            // disponible SOLO si ponemos :this en el filtro
            if (scope.filtro === undefined){
              // si acaba de cargar la pagina y no se ha creado en el modelo la variable filtro que se muestren TODOS los usuarios
              return usuarios
            }
            else{
              var usuariosFiltrados = [] // array con los usuarios filtrados a devolver
              angular.forEach(usuarios,function(usuario){
                // Para cada usuario
                if (usuario.body.indexOf(scope.filtro) >= 0  || usuario.id.toString().indexOf(scope.filtro) >= 0 ){
                  usuariosFiltrados.push(usuario)
                  // si la cadena introducida por el usuario es parte del body o del id devolvemos el usuario
                }
              })
              return usuariosFiltrados
            }
          }
        })
    </script>
    <style>
      li{
        border-top: 1px solid darkOrange; 
        border-bottom:: 1px solid darkOrange;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <br>
      <div class="row">
        <h2>Ejemplo: controller y servicio http(AJAX) + FILTROS</h2>
      </div>
      <br>
      <div class="row">
        <div class="form-group">
          <label class="col-md-offset-2 col-md-2">Criterio de Búsqueda</label>
          <div class="col-md-6">
            <input type="text" class="form-control" data-ng-model="filtro">
            <!-- 
            <input type="text" class="form-control" data-ng-model="filtro.body">
            Si solo quieres filtrar por body
            -->
          </div>
        </div>
      </div>
      <br>
      <br>
      <!-- Para las claves -->
      <ul class="list-inline">
        <li ng-if="(k != 'title' && k != 'body')" class="list-item col-md-1" ng-repeat="(k, v) in usuarios[0]"> 
        <!-- Filtro para poner la clave en Mayusculas -->
          {{ k | uppercase }}
        </li>
        <li ng-if="k == 'title'" class="list-item col-md-3" ng-repeat="(k, v) in usuarios[0]">
        <!-- Filtro para poner la clave en Mayusculas -->
          {{ k | uppercase }}
        </li>
        <li ng-if="k == 'body'" class="list-item col-md-7" ng-repeat="(k, v) in usuarios[0]">
        <!-- Filtro para poner la clave en Mayusculas -->
          {{ k | uppercase }}
        </li>
      </ul>
      
      <!-- para los valores -->
<!--  <ul class="list-inline" ng-repeat="(pos,objeto) in usuarios | orderBy:'title':true | filter:filtro">
 FILTRAMOS por la cadena introducida por el usuario comparando con:
 TODOS LOS CAMPOS
 o
 Solo el campo body (si modificamos el ng-model=filtro)
en el INPUT con ng-model "filtro"  -->
        <ul class="list-inline" ng-repeat="(pos,objeto) in usuarios | orderBy:'title':true | filtroOrCampos:this">
          <li ng-if="(k == 'userId')" class="list-item col-md-1" ng-repeat="(k, v) in objeto">
            {{ v | number:2 }}
          </li>
          <li ng-if="(k == 'id')" class="list-item col-md-1" ng-repeat="(k, v) in objeto">
            {{ v | currency }} <!-- al poner la libreria de eu-es de angular sale en euro -->
            <!-- EN EUROS: {{ v | currency:'€'}} -->
          </li>
          <li ng-if="k == 'title'" class="list-item col-md-3" ng-repeat="(k, v) in objeto">
            {{ v }}
          </li>
          <li ng-if="k == 'body'" class="list-item col-md-7" ng-repeat="(k, v) in objeto">
            {{ v }}
          </li>
       <!-- </div> -->
      </ul>
    </div>
  </body>
</html>