<br>
<div class="row">
	<h2 class="text-center text-danger">Saca coche del garaje</h2>
</div>
<div class="row">
	<br>
	<form name="sacar" class="form-horizontal" ng-submit="desaparcar()">
		<div class="form-group ">
			<label class="col-md-1 col-md-offset-1">Marca</label>
			<div class="col-md-9">
				<input type="text" class="form-control" ng-model="coche.marca" ng-pattern="/^\w+/" ng-required="true">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1 col-md-offset-1">Modelo</label>
			<div class="col-md-9">
				<input type="text" class="form-control" ng-model="coche.modelo" ng-pattern="/^\w+/" ng-required="true">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1 col-md-offset-1">Pais</label>
			<div class="col-md-9">
				<input type="text" class="form-control" ng-model="coche.pais" ng-pattern="/^\w+/" ng-required="true">
			</div>
		</div>
		<br>
		<div class="btn-group col-md-offset-1">
			<button id="enviar" type="submit" class="btn btn-warning" ng-disabled="activoEnvio()">
				Sacar
			</button>
			<button id="limpiar" type="reset" class="btn btn-warning">
				Limpiar
			</button>
		</div>
	</form>
</div>
